body, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h2 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #333;
}

h3{
    font-size: 20px;
    font-weight: bold;
}

h4{
    margin-top:90px;
    font-size: 20px; 
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #181818;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    width: 98.4%;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left, .nav-left ul {
    display: flex;
    flex-direction: row;
    width: 550px;
    align-items: center;
    align-content: center;
    list-style-type: none;
}

.navbar .nav-left span,
.navbar .nav-left a,
.navbar .nav-right span,
.navbar .nav-right a,
.nav-right li {
    color: white;
    text-decoration: none;
    list-style-type: none;
    margin-right: 15px;
    margin-left: 15px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 20px; 
    text-decoration: none;
    color: white; 
    transition: transform 0.2s ease; 
    width: 45%;
}

.navbar-brand:hover {
    text-decoration: none;
    color: white;
    transform: scale(1.1); 
}

.navbar-brand-1{
    font-weight: bold;
    font-size: 20px; 
    text-decoration: none;
    color: white; 
    transition: transform 0.2s ease; 
    width: 45%;
}

.nav-buttons {
    display: flex; 
    gap: 100px;  
    padding: 0;  
}

.nav-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: 50px;
    font-weight: bold;
}

.nav-link {
    color: white;
    text-decoration: none;
    transition: transform 0.2s ease, font-size 0.2s ease; 
    font-size: 16px; 
    padding: 10px 10px;
    
}

.nav-link:hover {
    transform: scale(1.1); 
    font-size: 18px; 
}


.content {
    flex: 1;
    padding: 20px;
    max-height: fit-content;
}

.welcome{
    margin-top: 200px;
    text-align: center;
    font-size: 200px;
}

.container {
        background-color: #fff;
        padding: 75px;
        border: 1px solid #ddd;
        border-radius: 24px; 
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); 
        max-width: 1050px; 
        width: 100%;
        text-align: center;
        margin-top: 250px;
        max-height: fit-content;
        margin-right: 150px;
        margin-left: -75px;
        justify-items: center;
    }


.container-1 {
    background-color: #fff;
    padding: 75px;
    border: 1px solid #ddd;
    border-radius: 24px;
     box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
     text-align: center;
     margin: 100px auto;
    max-height: fit-content; 
    min-height: 40vh; 
     min-width: 100vh;
}
    
form {
    display: flex;
    flex-direction: column;
}

form .form-group {
    margin-bottom: 15px;
}

form .form-group label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
    color: #444;
    margin-top: 5px;
}

form .form-group input {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    font-size: 15px;
    background-color: #181818;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #555;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
    color: #444;
}

.form-group input {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    font-size: 15px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p a {
    display: block;
    text-align: center;
    margin-top: 15px; 
    text-decoration: none;
    color: #007bff;
}

p {
    font-weight: bold;
}

.btn {
    padding: 10px; 
    font-size: 14px; 
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px; 
}

.btn-download, .btn-danger {
    padding: 8px 12px; 
    font-size: 14px; 
    background-color: #007bff; 
    color: #fff; 
    transition: background-color 0.3s ease; 
    cursor: pointer;
    border: none; 
    border-radius: 5px; 
    text-decoration: none; 
    font-family: Arial, sans-serif;
}

.btn-back {
    display: inline-block;
    margin-top: 80px; 
}

.btn-back a {
    display: flex; 
    align-items: center; 
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.btn-back a:hover {
    background-color: #0056b3;
    text-decoration: none;
}

.btn-back svg {
    margin-left: 5px; 
    width: 16px; 
    height: 16px; 
    fill: #fff; 
}

.btn-download {
    background-color: #007bff; 
    color: #fff; 
    font-weight: bold; 
    text-decoration: none; 
    
}

.btn-download:hover {
    background-color: #0056b3; 
    text-decoration: none; 
}

.btn-danger {
    
    background-color: red;
    color: white;
    transition: background-color 0.3s ease; 
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none; 
}

.btn-danger:hover {
    background-color: darkred;
    text-decoration: none; 
}

.subs{
    margin-top: 40px;
}

.file-list, .directory-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto; 
    width: 90%; 
}

.file-item:last-child {
    border-bottom: none;
}

.directory-item, .file-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.directory-name, .file-name {
    flex: 1;
    margin-right: 10px;
    text-align: left; 
}




