{% extends "base.html" %}
{% load static %}

{% block title %}Create Directory{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'drive/css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Create Directory</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
    </form>
    <p><a href="{% url 'file_list' %}" class="subs">Back to my File List</a></p>
</div>
{% endblock %}





