{% extends "base.html" %}
{% load static %}

{% block title %}File List{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'drive/css/style.css' %}">

{% endblock %}

{% block content %}
<div class="container">
    <h3>Directories</h3>
    <ul>
        {% for directory in directories %}
        <li>
            <a href="{% url 'file_list_directory' directory.id %}">{{ directory.name }}</a>
            <form action="{% url 'delete_directory' directory.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <h3>Files</h3>
    <ul>
        {% for document in documents %}
        <div class="file">
            <div class="file-name">{{ document.file.name }}</div>
            <a href="{% url 'download_file' document.id %}" class="btn">Download</a>
            <form action="{% url 'delete_document' document.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
        {% endfor %}
    </ul>
    {% if current_directory and current_directory.parent %}
    <p><a href="{% url 'file_list_directory' current_directory.parent.id %}">Back</a></p>
    {% endif %}
</div>
{% endblock %}



