<!DOCTYPE html>
<html>
<head>
    <title>File List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'filemanage/css/style.css' %}">
</head>
<body>
    <h2>File List</h2>
    <div>
        <a href="{% url 'create_directory' %}">Create Directory</a>
        <a href="{% url 'upload_file' %}">Upload File</a>
    </div>
    <h3>Directories</h3>
    <ul>
        {% for directory in directories %}
        <li><a href="{% url 'file_list_directory' directory.id %}">{{ directory.name }}</a></li>
        {% endfor %}
    </ul>
    <h3>Files</h3>
    <ul>
        {% for document in documents %}
        <li><a href="{% url 'download_file' document.id %}">{{ document.file.name }}</a></li>
        {% endfor %}
    </ul>
    {% if current_directory and current_directory.parent %}
    <a href="{% url 'file_list_directory' current_directory.parent.id %}">Back</a>
    {% endif %}
</body>
</html>



