{% extends "base.html" %}
{% load static %}

{% block title %}Upload File{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'drive/css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Upload File</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
    <p><a href="{% url 'file_list' %}">Back to my File List</a></p>
</div>
{% endblock %}

