{% extends "base.html" %}
{% load static %}

{% block title %}Set New Password{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'drive/css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="set-new-password-form">
        <h2>Set New Password</h2>
        {% if validlink %}
        <p>Enter your password twice:</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
            </div>
            <div class="form-group">
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
            </div>
            <button type="submit" class="btn btn-primary">Set New Password</button>
        </form>
        {% else %}
        <div class="alert alert-danger" role="alert">
            Invalid password reset link. Please request a new password reset.
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}


