<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'drive/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Reset Password</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>
