{% extends "base.html" %}
{% load static %}

{% block title %}Password Reset{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'drive/css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Password Reset</h2>
    <form method="post">
        {% csrf_token %}
        <div class= "form-group">
        {{ form.email.label_tag }}
        {{ form.email }}
        </div>
        <button type="submit">Send Reset Link</button>
    </form>
</div>
{% endblock %}



